%legend Register
= form_for @user do |f|
  = render 'shared/error_messages', :object => f.object
  .field  
    = f.label :email, :class => 'control-label'
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirmation"
    = f.password_field :password_confirmation
  .actions
    = f.submit "Sign up", :class => 'btn'
