%legend Register
= form_for @user do |f|
  = render 'shared/error_messages', :object => f.object
  .control-group
    .controls
      %div{ :class => ['field', 'input-prepend'] }
        %span{ :class => 'add-on'} @
        = f.text_field :email, :placeholder => "Email"
  .control-group
    .controls
      .field
        = f.password_field :password, :placeholder => "Password"
  .control-group
    .controls        
      .field
        = f.password_field :password_confirmation, :placeholder => "Confirmation"
  .actions
    = f.submit "Sign up", :class => 'btn'
